<app-navbar [title]="title"></app-navbar>



<app-button (newNameEvent)="setName($event)"></app-button>
<app-counter></app-counter>
<app-first-image></app-first-image>
<app-second-image></app-second-image>
<app-movie-characters></app-movie-characters>
<app-text-transform></app-text-transform>
<p>Je teste ma directive</p>
<p highlighter="#555555">Je teste ma directive "#555555"</p>
<p highlighter="chartreuse">Je teste ma directive "chartreuse"</p>

<app-footer [copyrightYear]="currentYear" [copyrightName]="name"></app-footer>