/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.item {
    margin: 2vh 0.5vw 2vh 0.5vw;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.col {
    display: flex;
    flex-direction: column;
}